<h1 mat-dialog-title>Edit your message</h1>
<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Edit your message</mat-label>
        <textarea [(ngModel)]="this.firestoreService.currentMessage.message" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="10"></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button class="prim-btn" mat-raised-button (click)="this.firestoreService.deleteAllMessagesOfChat(); this.firestoreService.saveMessage(); this.dialogRef.close()">Save</button>
</div>