.chatroom {
    position: relative;
    min-height: 90vh;
}

.massages {
    position: relative;
    height: 55vh !important;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-messages-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
    i {
        font-size: 36px;
    }
    h3 {
        margin: 0;
        text-align: center;
    }
}

.massages::-webkit-scrollbar {
    display: none;
}

.post-headline {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid black;
    .profile {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin-right: 15px;
    }
}

.message {
    margin-bottom: 20px;
}

.message-container {
    width: 100%;
    mat-form-field {
        width: 100%;
    }
}

.message-field {
    max-width: 100% !important;
    max-height: 30vh !important;
    object-fit: cover !important;
    overflow: auto !important;
    -ms-overflow-style: none !important;
    /* IE and Edge */
    scrollbar-width: none !important;
    /* Firefox */
    &::-webkit-scrollbar {
        display: none !important;
    }
    img {
        max-width: 500px !important;
        max-height: 500px !important;
        object-fit: cover !important;
    }
}

.has-image {
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
}

.d-none {
    display: none;
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: -10px;
}