h1 {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -0.75px;
    line-height: 46px;
    text-align: center;
    margin: 0;
}

span {
    text-align: center;
}

.logo {
    height: 50px;
}

.component-wrapper {
    width: 100vw;
    height: 100vh;
}

.sign-up-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.google-icon {
    height: 24px;
    padding-right: 8px;
}

.google-login {
    padding: 8px;
    white-space: break-spaces;
    background-color: #fff;
    border: 2px solid #4285f4;
    color: #4285f4;
    width: 25vw;
    min-width: 230px;
    &:active {
        color: #4285f4;
    }
}

mat-form-field {
    width: 25vw;
    min-width: 230px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-actions {
    display: flex;
    gap: 8px;
    button {
        width: -webkit-fill-available;
        width: -moz-available;
    }
}

.to-sign-in {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    flex-direction: column;
}

.legal-notice-link {
    position: absolute;
    right: 16px;
    bottom: 16px;
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1024px) {
    .sign-up-container {
        gap: 24px;
    }
}

@media (max-width: 768px) {
    .sign-up-container {
        gap: 16px;
    }
    .legal-notice-link {
        transform: translate(-50%, -50%);
        right: unset;
        bottom: 8px;
        left: 50%;
    }
}

@media (max-width: 580px) {
    h1 {
        flex-direction: column-reverse;
        justify-content: center;
        font-size: 32px;
        gap: 8px;
    }
}

@media (max-width: 480px) {
    .to-sign-in {
        top: 8px;
        right: 8px;
    }
    .sign-up-container {
        gap: 8px;
    }
}