h1 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.75px;
  line-height: 46px;
}
.component-wrapper {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #1264a3;
}

.to-sign-up {
  position: absolute;
  top: 32px;
  right: 32px;
}

.sign-in-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.width-25vw {
  width: 25vw;
}

.google-icon {
  height: 24px;
  padding-right: 8px;
}

.google-login {
  padding: 8px;
  white-space: break-spaces;
  background-color: #fff;
  border: 2px solid #4285f4;
  color: #4285f4;

  &:active {
    color: #4285f4;
  }
}

.mat-loginbutton {
  background-color: #4a154b;
  color: white;

  &:hover {
    background-color: #611f69e6;
  }
}
mat-form-field {
  width: 25vw;
}
