<form>
    <h2>Log in</h2>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput #userName required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput #userPassword required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="this.authService.signIn(userName.value, userPassword.value)">Log in</button>
    <button mat-raised-button color="secondary" (click)="this.authService.googleAuth()">Log in with Google Account</button><br>
    <a routerLink="/forgot-password">Forgot Password?</a><br>
    <a routerLink="/sign-up">Don't have an account?</a>
</form>