<div class="component-wrapper">
    <div class="sign-in-container">
        <h1>
            Sign in to Slack-Clone
            <img class="logo" src="./../../assets/images/logo.svg" alt="Logo" />
        </h1>
        <span> We suggest using the email address that you use at work.</span>
        <button (click)="this.authService.googleAuth()" class="google-login" mat-stroked-button id="googleLogin">
        <img class="google-icon" src="assets/images/googleicon.png"alt="Google Icon"/>Login with google account
    </button>
        <span>OR</span>
        <form [formGroup]="loginForm" (submit)="onSubmit(this.userEmail.value, this.userPassword.value)" ngNativeValidate>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input class="width-25vw" autocomplete="off" type="email" matInput #userEmail placeholder="Email" formControlName="email" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="width-25vw">
                <mat-label>Password</mat-label>
                <input autocomplete="off" type="password" matInput #userPassword placeholder="Password" formControlName="password" />
            </mat-form-field>
            <div class="form-actions">
                <button type="submit" class="prim-btn login-btn" mat-raised-button>Login
                    <a (click)="this.openForgotPasswordDialog()" class="auth-link">Forgot Password?</a>
                    </button>
                <button class="sec-btn" mat-raised-button (click)="this.openGuestUserDialog()">Try as guest</button>
            </div>
        </form>
        <div class="to-sign-up">
            <span>New to Slack-Clone?</span>
            <a class="auth-link" [routerLink]="['/sign-up']" routerLinkActive="router-link-active">Sign up</a>
        </div>
    </div>
</div>
<a class="legal-notice-link auth-link" routerLink="/legal-notice" target="_blank">Imprint <span>|</span> Privacy policy</a>