.chatroom {
    position: relative;
    min-height: 90vh;
}

.massages {
    height: 55vh !important;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.massages::-webkit-scrollbar {
    display: none;
}

.post-headline {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px solid black;
    .profile {
        width: 24px;
        height: 24px;
        border-radius: 100%;
        margin-right: 15px;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.message {
    margin-bottom: 20px;
}

.message-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    mat-form-field {
        width: 100%;
    }
    button {
        background-color: rgb(64, 18, 64);
        color: white;
    }
}

.d-none {
    display: none;
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: -10px;
}