<h2>Get Started</h2>

<button mat-raised-button color="primary" routerLink="/sign-up">Sign Up</button>
<button mat-raised-button color="primary" routerLink="/login">Login</button>

<div *ngIf="(afAuth.user | async)">
    <br>
    <p>User is logged in</p>
    <button mat-raised-button color="primary" routerLink="/chat">Go to Chat</button>
    <button mat-raised-button color="accent" (click)="logout()">Log out</button>
</div>
<div *ngIf="!(afAuth.user | async)">
    <p>User is not logged in</p>
</div>