<div class="component-wrapper">
  <div class="comp-left">
    <div class="left-up">
      <h1>Slack-Clone</h1>

      <h1>Bring's your the team together. <br />Wherever you are.</h1>
    </div>
    <div class="left-botom">
      <button
        mat-raised-button
        color="primary"
        routerLink="/sign-up"
        color="signup-button"
      >
        Sign Up
      </button>
      <div *ngIf="afAuth.user | async">
        <p>You are already loged in <a routerLink="/chat"> Go to Chat </a></p>
      </div>
    </div>
  </div>
  <img class="bg-img" src="assets/images/start-bg.png" alt="" />
</div>
