<div class="component-wrapper">
    <div class="comp-left">
        <div class="left-up">
            <h1>
                Slack-Clone
                <img class="logo" src="./../../assets/images/logo.svg" alt="" />
            </h1>

            <h1>Bring's your the team together. <br />Wherever you are.</h1>
        </div>
        <div class="left-botom">
            <button class="width-25vw secondary-btn" mat-raised-button routerLink="/sign-up" color="signup-button">Sign Up</button>
        </div>
    </div>
    <img class="bg-img" src="assets/images/start-bg.png" alt="" />
</div>
<a class="legal-notice-link" routerLink="/legal-notice" target="_blank">Imprint <span>|</span> Privacy Policy</a>