<h2>Reset Password</h2>
<p class="text-center">
    Please enter your email address to request a password reset.
</p>

<form onsubmit="return false;">
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput #passwordResetEmail required /> </mat-form-field><br />
    <div class="form-actions">
        <button class="primary-btn" (click)="this.authService.forgotPassword(passwordResetEmail.value)" type="submit" mat-raised-button>Reset Password</button>
        <button (click)="this.dialog.close()" mat-raised-button>Close</button>
    </div>
</form>