/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    // Material design
    --md-primary-col: #3F51B5;
    --md-accent-col: #FF4081;
    --md-warn-col: #F44A3E;
    // Custom
    --error-col: #F7C600;
    --primary-col: #541554;
    --secondary-col: #007A5A;
}

.primary-btn {
    background-color: #4a154b;
    color: white;
    &:hover {
        background-color: #611f69e6;
    }
}

.secondary-btn {
    background-color: #007a5a;
    color: white;
    &:hover {
        background-color: #009b71;
    }
}

.auth-link {
    cursor: pointer;
    text-decoration: none;
    color: #1264a3;
    &:hover {
        text-decoration: underline;
    }
}

.width-25vw {
    width: 25vw;
    min-width: 230px;
}