/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --primary-col: #3F51B5;
    --accent-col: #FF4081;
    --warn-col: #F44A3E;
}