/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    // Material design
    --md-primary-col: #3F51B5;
    --md-accent-col: #FF4081;
    --md-warn-col: #F44A3E;
    // Custom
    --error-col: #F7C600;
    --primary-col: #541554;
    --secondary-col: #007A5A;
}