<main>
    <div *ngIf="authService.userData as user">
        <img class="profile-picture" src="{{(user.photoURL) ? user.photoURL : './../../../assets/img/blank_user.svg'}}" alt="{{user.displayName}}">
        <div>
            <h1>Hello: <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
            <p>User ID: <strong>{{user.uid}}</strong></p>
            <p>Email: <strong>{{user.email}}</strong></p>
            <p>Email Verified: <strong>{{user.emailVerified}}</strong></p>
        </div>
    </div>
    <button mat-raised-button color="primary" (click)="this.authService.logOut()">Log out</button>
    <button mat-raised-button color="basic" (click)="this.openEditUserDialog()">Account Settings</button>
</main>